<div class="totalClass">

<mat-card >
    <mat-card-content>
        <form (ngSubmit)="postQuestion()" [formGroup]="questionForm">
        <mat-form-field>
          <input matInput placeholder="Question Title" formControlName='title' [ngClass]="{ 'is-invalid': submitted && f.title.errors }" >
        </mat-form-field>

        <mat-form-field>
          <textarea class = "text" matInput placeholder="Question Description" formControlName='description' [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea class = "text" matInput placeholder="Include related code" formControlName='descriptionCode'></textarea>
        </mat-form-field>
          
          <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let option of addoptions"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(option)">
                  {{option.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="tags related to your question"
                  #TagInput
                  [formControl]="myTag"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)" formControlName='tag'>
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          <button mat-raised-button type = "submit" color = "primary">SUBMIT</button>
          
      </form>
    </mat-card-content>
</mat-card>
</div>