<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="button-spacer">
        <a  class="stackOverflow" mat-list-item [routerLink]="[ '/dashboard']"><img src="../assets/img/icons8-stack-overflow-50.png" height="
          40"/></a>
        <span class="text-spacer"></span>
        <a *ngIf = "!flag" class="pointer"><mat-icon (click)="home()">home</mat-icon></a>
        <a *ngIf = "flag" class="pointer"><mat-icon (click)="logout()">logout</mat-icon></a>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  