<div class="totalClass">
  <mat-card >
      <mat-toolbar class= "panelText"><b>Login</b></mat-toolbar>
      <mat-card-content><br/><br/>
          <form [formGroup]="loginForm">  
              <p>
                  <mat-form-field class="full-width">
                      <mat-label> <i class="fas fa-envelope fa-1x"> </i>
                          Email
                      </mat-label>
                      <input matInput formControlName='email' placeholder="Email"> 
                  </mat-form-field>
              </p>
  
              <p>
                  <mat-form-field class="full-width">
                      <mat-label> <i class="fas fa-key fa-1x"> </i>
                          Password
                      </mat-label>
                      <input matInput formControlName='password' matTooltip= "Enter atleast 8 characters Uppercase,Lowercase and !@#$... " 
                       type='password' 
                      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,99}$" placeholder="Password">
                  </mat-form-field>
              </p>

              <p>
                    <mat-label class="error-message"> 
                          {{errorMessage}}
                      </mat-label>
                    </p> 
          </form>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button type = "submit" (click)="login()" color="primary" 
          >Login</button>
          <button mat-raised-button type = "button" (click)="redirectSignUp()" color="primary" 
          >SignUp</button>
      </mat-card-actions>
  </mat-card>
</div>

